<p> 
  I am the founder and managing director of 
  <a href="https://quenk.com">Quenk Technologies</a> a software engineering company
  based in the Caribbean. I'm also the instigator behind
  <a href="https://caribbeandevelopers.org">Caribbean Developers</a>, 
  Startup Grind <a href="https://startupgrind.com/tunapunapiarco">Tunapuna Piarco</a> and more.
</p>
